.nav-bar {
  padding: 24px 4%;
  background-color: #fff;
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  align-items: center;
  grid-gap: 40px;
  gap: 40px;
}

#logo {
  text-decoration: none;
  color: #0290ff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
}

#profile {
  border: 0.5px solid #e1ebee;
  padding: 0.5rem;
  border-radius: 30px;
}

.nav-links {
  display: flex;
  flex-grow: 1;
  list-style-type: none;
  gap: 40px;
}

.navlist {
  list-style: none;
}

.navlink {
  opacity: 0.5;
  font-family: "Montserrat", sans-serif;
  font-size: 0.813rem;
  color: #121212;
  letter-spacing: 1.9px;
  text-decoration: none;
}

.activelink {
  opacity: 1;
}

.icon-button {
  cursor: pointer;
  width: 2.813rem;
  height: 2.813rem;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
  background-color: #fff;
}

@media only screen and (max-width: 786px) {
  .nav-links {
    gap: 5px;
    flex-direction: column;
  }
}
