.header {
  height: 5.8rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3rem;
}

#logo {
  text-decoration: none;
  color: #0290ff;
  font-family: "Montserrat", sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
}

#profile {
  border: 0.5px solid #e1ebee;
  padding: 0.5rem;
  border-radius: 30px;
}

.nav {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navlist {
  list-style: none;
}

.navlink {
  font-family: "Montserrat", sans-serif;
  font-size: 0.813rem;
  letter-spacing: 1.9px;
  text-decoration: none;
}

.icon-button {
  cursor: pointer;
  width: 2.813rem;
  height: 2.813rem;
  border-radius: 50%;
  border: 1px solid #e8e8e8;
  background-color: #fff;
}
